<div class="client-show">
  <div class="uk-flex uk-flex-center">
    <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m uk-margin-xlarge-top uk-flex-middle">
      <div class="uk-text-center">
        <h1>Dziękujemy za przesłanie briefa!</h1>
        <h2>Odpowiemy na niego w ciągu 24h</h2>
        <h3>Zapraszamy<a href="//devrry.com"> www.devrry.com</a></h3></div>
    </div>
  </div>
</div>