<div class="uk-container uk-margin">
  <div class="uk-flex uk-flex-column uk-flex-center">
    <h1>Lista briefów od klientów</h1>
    <div class="uk-overflow-auto">
      <table class="uk-table uk-table-striped">
        <thead>
        <tr>
          <th class="uk-table-expand">Nazwa firmy</th>
          <th class="uk-table-expand">Branża</th>
          <th class="uk-table-expand">Opis firmy</th>
          <th class="uk-table-shrink uk-text-nowrap">E-mail</th>
          <th class="uk-table-expand">Osoba kontaktowa</th>
          <th class="uk-table-expand uk-text-nowrap">Oferowane usługi/produkty</th>
          <th class="uk-table-expand uk-text-nowrap">Opis rynku i środowiska konkurencji</th>
          <th class="uk-table-expand uk-text-nowrap">Informacje o projekcie strony www / aplikacji</th>
          <th class="uk-table-expand uk-text-nowrap">Jaką architekturę informacji powinien mieć projekt?</th>
          <th class="uk-table-expand uk-text-nowrap">Ułożenie elementów na stronie, czyli przewidywana struktura
            projektu
          </th>
          <th class="uk-table-shrink">Jaka jest grupa docelowa?</th>
          <th class="uk-table-shrink">Przewidywany budżet projektu</th>
          <th class="uk-table-shrink">Czy strona ma być wielojęzyczna?</th>
          <th class="uk-table-shrink uk-text-nowrap">Oczekiwania dotyczące terminu realizacji</th>
          <th class="uk-table-shrink uk-text-nowrap">Oczekiwana stylistyka projektu</th>
          <th class="uk-table-shrink uk-text-nowrap">Kolorystyka projektu</th>
          <th class="uk-table-expand uk-text-nowrap">Przykłady stron, które odpowiadają Państwa oczekiwaniom wizualnym
          </th>
          <th class="uk-table-shrink uk-text-nowrap">Jakie elementy/informacje powinny zostać wyróżnione w projekcie?
          </th>
          <th class="uk-table-shrink uk-text-nowrap">Dodatkowe informacje</th>
          <th colspan="2"></th>
        </tr>
        </thead>

        <tbody>
        <% @briefs.each do |brief| %>
          <tr>
            <td><%= brief.company %></td>
            <td><%= brief.brand %></td>
            <td class="uk-text-truncate"><%= brief.description %></td>
            <td><%= brief.email %></td>
            <td><%= brief.contact %></td>
            <td><%= brief.offers %></td>
            <td><%= brief.competition %></td>
            <td><%= brief.project %></td>
            <td><%= brief.structure %></td>
            <td><%= brief.architecture %></td>
            <td><%= brief.group %></td>
            <td><%= brief.budget %></td>
            <td><%= brief.language %></td>
            <td><%= brief.daadline %></td>
            <td><%= brief.design %></td>
            <td><%= brief.color %></td>
            <td><%= brief.example %></td>
            <td><%= brief.featured %></td>
            <td><%= brief.additional %></td>
            <td><%= link_to 'Pokaż', brief, class: "uk-button uk-button-default", type: "button" %></td>
            <td><%= link_to "Usuń", brief, method: :delete, class: "uk-button uk-button-default", type: "button" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <br>

  </div>
  <%= link_to 'New Brief', new_brief_path, class: "uk-button uk-button-primary", type: "button" %>
</div>