<div class="uk-container uk-margin">
  <div class="logo uk-visible@l">
    <%= image_tag("logo.png") %>
  </div>
  <div class="uk-container uk-margin">
    <div class="logo-second uk-hidden@l">
      <%= image_tag("logo.png") %>
    </div>
  </div>

  <%= render 'form', brief: @brief %>
</div>