<p>
  <strong>Company:</strong>
  <%= @brief.company %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @brief.brand %>
</p>

<p>
  <strong>Description:</strong>
  <%= @brief.description %>
</p>

<p>
  <strong>Email:</strong>
  <%= @brief.email %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @brief.contact %>
</p>

<p>
  <strong>Offers:</strong>
  <%= @brief.offers %>
</p>

<p>
  <strong>Competition:</strong>
  <%= @brief.competition %>
</p>

<p>
  <strong>Project:</strong>
  <%= @brief.project %>
</p>

<p>
  <strong>Structure:</strong>
  <%= @brief.structure %>
</p>

<p>
  <strong>Architecture:</strong>
  <%= @brief.architecture %>
</p>

<p>
  <strong>Group:</strong>
  <%= @brief.group %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @brief.budget %>
</p>

<p>
  <strong>Daadline:</strong>
  <%= @brief.daadline %>
</p>

<p>
  <strong>Example:</strong>
  <%= @brief.example %>
</p>

<p>
  <strong>Featured:</strong>
  <%= @brief.featured %>
</p>

<p>
  <strong>Additional:</strong>
  <%= @brief.additional %>
</p>

<%= link_to 'Edit', edit_brief_path(@brief) %> |
<%= link_to 'Back', briefs_path %>
