.logo img
  width: 200px
  transform: rotate(270deg)
  position: fixed
  left: 0
  top: 50px
  margin: 30px 0 0 -25px !important

.logo-second
  width: 200px

  @media screen and (max-width: 639px)
    margin: 0 auto

  @media screen and (min-width: 640px) and (max-width: 1199px)
    margin: 0
    float: right